<div class="content">
    <table>
        <thead>
            <td colspan="2">Produto</td>
            <td>Quantidade</td>
            <td>Preço</td>
        </thead>
        <tbody>
            <tr>
                <td class="table-product"><img src="img/cat64.png"></td>
                <td class="table-product">Ração para gato</td>
                <td>1</td>
                <td>R$ 199,90</td>
            </tr>
            <tr>
                <td class="table-product"><img src="img/cat64.png"></td>
                <td class="table-product">Brinquedo para gato</td>
                <td>2</td>
                <td>R$ 59,80</td>
            </tr>
            <tr>
                <td class="table-product"><img src="img/cat64.png"></td>
                <td class="table-product">Tosa gato adulto</td>
                <td>1</td>
                <td>R$ 79,90</td>
            </tr>
            <tr>
                <td class="table-product"><img src="img/cat64.png"></td>
                <td class="table-product">Banho gato adulto</td>
                <td>1</td>
                <td>R$ 49,80</td>
            </tr>
        </tbody>
    </table>
</div>
