<header>
  <a onclick="index();" href="#" class="reset-this" style="width: 128px; height: 128px"><img id="logo-img" src="img/logo128.png" height="128" width="128" alt="Petzzaria Pet Shop"></a>

  <div class="search-area">
    <a style="text-decoration: none; color:white;" onclick="index();" href="#"><h1>Petzzaria Pet Shop</h1><br></a>
      <input id="search" type="search" title="search">
      <button id="submit-search" onclick="search();">Buscar</button>
  </div>

  <div class="login-area">
    <div class="cart-area">
      <a style="width: 64px; height: 64px;" onclick="cart();" href="#">
        <img class="cart" src="img/cart64.png" width="64" height="64">
      </a>
      <div class="cart-count"><span>{{cart_count}}</span></div>
    </div>
      <a class="login-link" onclick="login();" href="#">Entrar</a>
  </div>
</header>
