<section>
  <div class="content">
    <div class="products">
      {{#products}}
      <div class="product">
        <a onclick="product({{product_id}});" href="#">
          <img src="img/{{product_img}}" width="{{img_width}}" height="{{img_height}}">
        </a>
        <div>
          <a onclick="product({{product_id}});" class="index-product-name" href="#">{{product_name}}</a>
          <a onclick="product({{product_id}});" class="index-product-price" href="#">R$ {{product_price}}</a>
        </div>
      </div>
      {{#products}}
    </div>
  </div>
</section>
