<div class="nav-item">
    <a href="#" onclick="searchTag('dog');">Cachorros</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['dog', 'food']);">Ração</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['dog', 'accy']);">Acessórios</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['dog', 'service']);">Serviços</a></div>
    </div>
</div>

<div class="nav-item">
    <a href="#" onclick="searchTag('cat');">Gatos</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['cat', 'food']);">Ração</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['cat', 'accy']);">Acessórios</a></div
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['cat', 'service']);">Serviços</a></div>
    </div>
</div>

<div class="nav-item">
    <a href="#" onclick="searchTag('fish');">Peixes</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['fish', 'food']);">Comida</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['fish', 'tank']);">Aquários</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag(['fish', 'service']);">Serviços</a></div>
    </div>
</div>

<div class="nav-item">
    <a href="#" onclick="searchTag('service');">Serviços</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag('bath');">Banho</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag('shearing');">Tosa</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag('training');">Adestramento</a></div>
    </div>
</div>

<div class="login-menu nav-item">
    <a href="#" onclick="login();">Entrar</a>
</div>
<div class="login-menu nav-item">
    <a style="width: 32px; height: 3rem;" onclick="cart();">
        <img src="img/cart32.png" width="32" height="32" style="align-self: center">
    </a>
    <div class="menu-cart-count"><span>{{cart_count}}</span></div>
</div>
