<div class="nav-item">
    <a href="#" onclick="searchTag('cachorros');">Cachorros</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag('cachorros-racao');">Ração</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag('cachorros-acess');">Acessórios</a></div>
    </div>
</div>

<div class="nav-item">
    <a href="#" onclick="searchTag('gatos');">Gatos</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag('gatos-racao');">Ração</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag('gatos-acess');">Acessórios</a></div>
    </div>
</div>

<div class="nav-item">
    <a href="#" onclick="searchTag('peixes');">Peixes</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="searchTag('peixes-comida');">Comida</a></div>
        <div class="nav-dd-item"><a href="#" onclick="searchTag('peixes-aquarios');">Aquários</a></div>
    </div>
</div>

<div class="nav-item">
    <a href="#">Serviços</a>
    <div class="drop-down-menu">
        <div class="nav-dd-item"><a href="#" onclick="service('banho');">Banho</a></div>
        <div class="nav-dd-item"><a href="#" onclick="service('tosa');">Tosa</a></div>
        <div class="nav-dd-item"><a href="#" onclick="service('adestramento');">Adestramento</a></div>
    </div>
</div>

<div class="nav-item">
  <a href="user.html">Usuário</a>
  <div class="drop-down-menu">
    <div class="nav-dd-item"><a href="new-pet.html">Novo Pet</a></div>
  </div>
</div>

<div class="login-menu nav-item">
    <a onclick="login();">Entrar</a>
</div>
<div class="login-menu nav-item">
    <a style="width: 32px; height: 3rem;" onclick="cart();">
        <img src="img/cart32.png" width="32" height="32" style="align-self: center">
    </a>
    <div class="menu-cart-count"><span>{{cart_count}}</span></div>
</div>
