<form id="new-client" class="new-client-form" onsubmit="return formPost(this);">
  <div class="fieldset-container">
    <fieldset>
      <legend>Dados Pessoais</legend>
      <div style="display:flex; flex-flow: row nowrap;">
        <div class="form-labels">
          <label for="client-name">Nome:</label>
          <label for="client-user">Usuário:</label>
          <label for="client-img">Foto:</label>
          <label for="client-tel">Telefone:</label>
          <label for="client-email">Email:</label>
        </div>
        <div class="form-inputs">
          <input id="client-name" type="text" name="client-name" autofocus>
          <input id="client-user" type="text" name="client-user">
          <input id="client-img" type="file" name="client-img" accept="image/*">
          <input id="client-tel" type="tel" name="client-tel">
          <input id="client-email" type="email" name="client-email">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Endereço</legend>
      <div style="display:flex; flex-flow: row nowrap;">
        <div class="form-labels">
          <label for="client-address">Logradouro:</label>
          <label for="client-num">Número:</label>
          <label for="client-city">Cidade:</label>
          <label for="client-state">Estado:</label>
          <label for="client-zip">CEP:</label>
        </div>
        <div class="form-inputs">
          <input id="client-address" type="text" name="client-address">
          <input id="client-num" type="text" name="client-num">
          <input id="client-city" type="text" name="client-city" accept="image/*">
          <input id="client-state" type="text" name="client-state">
          <input id="client-zip" type="text" name="client-zip">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="button-container">
    <button id="client-submit" type="submit">Enviar</button>
    <button id="client-reset" type="reset">Limpar</button>
  </div>
</form>
