<form id="buy-product" class="buy-product-form" onsubmit="return formPost(this);">
  <input type="hidden" id="id" name="id" value="{{product_id}}" />
  <div class="content">
      <div class="product-header">
          <div class="product-images-area">
              <img src="img/{{product_img}}" width="{{img_width}}" height="{{img_height}}">
          </div>

          <div class="product-description-area">
              <div class="product-description-header">
                  <span class="product-name">{{product_name}}</span>
                  <span class="product-brand">{{product_brand}}</span>
                  <span class="product-price-alt product-price">R$ {{product_price}}</span>
              </div>
              <div class="product-description">
                  {{product_description}}
              </div>
          </div>

          <div class="product-price-area">
              <span class="product-price">R$ {{product_price}}</span>
              <label class="quantity-label" for="quantity">Quantidade:</label>
              <div class="product-buy">
                  <button><</button>
                  <input id="quantity" class="quantity" type="text" value="1">
                  <button>></button>
              </div>
              <button class="product-buy-button">Comprar</button>
          </div>
      </div>


      <div class="inline-product-buy">
          <label class="quantity-label" for="inline-quantity">Quantidade:</label>
          <button onclick="less()"><</button>
          <input id="inline-quantity" class="quantity" type="text" value="1">
          <button onclick="more()">></button>
          <button>Comprar</button>
      </div>

      <div class="product-full-description">
          <span>{{product_name}}</span>
          {{product_full_description}}
      </div>
  </div>
</form>
