<div class="content">
    <div class="product-header">
        <div class="product-images-area">
            <img src="img/cat.png" width="256" height="256">
        </div>

        <div class="product-description-area">
            <div class="product-description-header">
                <span class="product-name">Tosa Completa para Gatos Adultos</span>
                <span class="product-brand">Petzzaria</span>
                <span class="product-price-alt product-price">R$ 79,90</span>
            </div>
            <div class="product-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis sollicitudin turpis. Sed sed luctus dui. Suspendisse id luctus odio.</p>
                <p>Suspendisse eu orci eget urna suscipit efficitur. Cras tempus sapien vel quam imperdiet dignissim. Nunc dui libero, eleifend sed vulputate vehicula, sodales nec nisi.</p>

            </div>
        </div>

        <div class="product-price-area">
            <span class="product-price">R$ 99,99</span>
            <label class="quantity-label" for="quantity">Pet:</label>
            <select class="service-pet">
                <option value="pet0">Garfield - Gato Malhado M</option>
                <option value="pet1">Lara - Gato Persa F</option>
                <option value="pet2">Ana - Gato Siames F</option>
            </select>
            <button class="product-buy-button">Comprar</button>
        </div>
    </div>


    <div class="inline-product-buy">
        <label class="quantity-label" for="inline-quantity">Pet:</label>
        <select class="service-pet" style="margin: 0;">
            <option value="pet0">Garfield - Gato Malhado M</option>
            <option value="pet1">Lara - Gato Persa F</option>
            <option value="pet2">Ana - Gato Siames F</option>
        </select>
        <button>Contratar</button>
    </div>
</div>
