* {
    border: 0px solid black;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.wrapper {
    background: url(../img/subtle_white_feathers.png) repeat 0 0;
    font-weight: bold;
    text-align: center;
    align-items: stretch;
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}

header {
    background: #105596;
    color: white;

    flex: 0 1 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

#logo-img {
    flex: 0 1 auto;
    max-width: 100%;
    max-height: 100%;
}

.search-area{
    flex: 3 1 auto;
    min-width: 33%;
    border: 10px solid #105596;

    display: flex;
    flex-flow: column nowrap;
}

.search-form {
    flex: 3 1 auto;
    min-width: 33%;

    display: flex;
    flex-flow: row nowrap;
}

#search {
    margin: 0 5px;
    flex: 1;
}

.login-area {
    flex: 0 1 auto;
    max-width: 33%;
    border: 10px solid #105596;

    display: flex;
    flex-flow: column nowrap;
}

nav {
    background: #35c9ea;
    min-height: 3rem;

    flex: 0 1 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-item
{
    height: 100%;
    line-height: normal;
}

.nav-item a{
    margin: 0 15px;
    color: #105596;
    text-decoration: none;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
    line-height: 3rem;
}

.nav-item:hover{
    background-color: #16aed0;
}

.drop-down-menu
{
    display: none;
    position: absolute;
    background-color: #75daf0;
    z-index: 1;
    min-width: 10rem;
}

.nav-item:hover .drop-down-menu
{
    display: block;
}

.nav-dd-item
{
    text-decoration: none;
}

.nav-dd-item:hover
{
    background-color: #16aed0;
}

section {
    background: #e7ecef;
    padding: 30px;
    min-width: 85%;

    flex: 1 1 auto;
    text-align: left;
    align-self: center;
}

footer {
    background: #105596;
    min-height: 50px;
    color: white;

    flex: 0 1 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}

footer p {
    padding: 0 20px;
}

.index-link, h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}

p, div, button {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

button {
    background-color: #1496d1;
    border: 3px solid #35c9ea;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.2s;
    box-sizing: content-box;
}

button:hover {
    background-color: #35c9ea;
}

.button-container > button {
    margin: 10px 5px 5px 10px;
}

#search {
    border: 3px solid #35c9ea;
    font-size: 32px;
}

input {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    line-height: 25px;
    box-sizing: content-box;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

fieldset {
    border: 2px solid #d1dbe0;
    margin: 5px;
    border-radius: 5px;
    padding: 15px;

    display: flex;
    flex-flow: row nowrap;
}

fieldset legend {
    background: #d1dbe0;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 20px;
}

.fieldset-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.form-labels {
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    margin-right: 10px;
}

.form-labels > label {
    margin: 1px;
}

.form-inputs {
    display: flex;
    flex-flow: column nowrap;
}

.form-inputs > input {
    margin: 1px;
}

@media all and (max-width: 500px) {
    header {
        flex-flow: column nowrap;
        align-items: center;
    }

    nav {
        min-height: 50px;
        align-items: center;
        font-size: 20px;
    }

    .login-area {
        flex-flow: row nowrap;
    }

}

.login-menu {
    position: relative;
    display:none;
    align-items:center;
    justify-content:center;
}

.login-menu img
{
    margin: 0 15px;
}


.product-price-alt
{
    display: none;
}

.cart-area
{
    position: relative;
}

.cart-count
{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    line-height: 1.5rem;
    top: 0;
    right: 0.75rem;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: #35c9ea;
}

.menu-cart-count
{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    line-height: 1rem;
    top: 0.15rem;
    right: 0.75rem;
    font-size: 0.7rem;
    color: white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: #105596;
}

.content
{
    margin: auto;
    max-width: 67rem;
}

.products
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.product
{
  justify-content: space-around;
    text-align: center;
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #d1dbe0;
    border-radius: 2%;
    margin: 0.25rem;
}

.product:hover
{

    border-color: #b3c3cc;
}

.product div
{
  display: flex;
  flex-flow: column nowrap;
}

.product img
{
    margin: auto;
}

.product-header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.product-images-area
{
    width: 256px;
}

.product-images
{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.product-description-area
{
    display: flex;
    flex-flow: column wrap;
}

.product-description-header
{
    display: flex;
    flex-flow: column wrap;
}

.product-description-header span
{
    margin-bottom: 2rem;
}


.product-name
{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.product-brand
{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #666666;
}

.product-description
{
    color: #444444;
}

.product-description p
{
    text-indent: 3rem;
    padding-right: 1rem;
}

.product-full-description
{
    display: flex;
    flex-flow: column nowrap;
}

.product-full-description span
{
    font-size: 2rem;
    line-height: 2rem;
    color: #105596;
    margin-bottom: 1rem;
}

.product-full-description p
{
    text-indent: 3rem;
    text-align: justify;
}

.product-price-area
{
    min-width: 10rem;
    display: flex;
    flex-flow: column nowrap;
}

.product-price
{
    color: #105596;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-buy
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem 0;
}

.quantity
{
    flex-shrink: 1;
    width: 2.5rem;
    text-align: center;
}

.inline-product-buy
{
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
    vertical-align: middle;
    height: 3rem;
    line-height: 3rem;
    margin: 1rem 0;
}

.quantity-label
{
    font-size: 1.5rem;
}

.inline-product-buy
{
    display: none;
}

@media all and (max-width: 750px)
{
    .login-area {
        display: none;
    }
    .login-menu {
        display:flex;
    }
    .product-description
    {
        display: none;
    }
    .product-price-area
    {
        display: none;
    }
    .product-price-alt
    {
        display: inline;
    }

    .inline-product-buy {
        display: flex;
    }
}


.index-product-name
{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.index-product-price
{
  text-decoration: none;
  color: #105596;
  font-size: 1.25rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
  background-color: #1496d1;
  color: white;
}

table, thead, td {
    padding-left: 15px;
    text-align: left;
    border: 1px solid #dddddd;
    font-size: 1.25rem;
    line-height: 2rem;
}

tbody td
{
  color: #105596;
}

tr:nth-child(2n)
{
  background-color: #35c9ea;
}

.table-product
{
  border: 0px;
  border-bottom: 1px solid #dddddd;
}

.service-pet
{
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 1rem 0;
    background: #1496d1;
    border: 3px solid #35c9ea;
    color: white;
}

.admin-link
{
  font-size: 2rem;
  line-height: 2.5rem;
}

/* unvisited link */
.admin-link:link {
    color: #1496d1;
}

/* visited link */
.admin-link:visited {
    color: #1496d1;
}

/* mouse over link */
.admin-link:hover {
    color: #105596;
}

/* selected link */
.admin-link:active {
    color: #1496d1;
}

.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}

/* basic modern patch */

#reset-this-root {
    all: initial;
    * {
        all: unset;
    }
}
