<div class="content">
    <h2>Administração</h2>
    <div style="margin-bottom: 30px; display: flex; justify-content:center;">
        <button style="margin-right: 10px;" type="button" onclick="newAdmin();">Novo Administrador</button>
        <button style="margin-right: 10px;" type="button" onclick="newProduct();">Novo Produto</button>
        <button type="button" onclick="newService();">Novo Serviço</button>
    </div>

    <h2>Ganhos por produto</h2>
    <div style="margin-bottom: 30px">
        <table>
            <thead>
                <td colspan="2">Produto</td>
                <td>Quantidade</td>
                <td>Preço</td>
            </thead>
            <tbody id="product_transactions">
            </tbody>
        </table>
    </div>

    <h2>Ganhos por serviço</h2>
    <div style="margin-bottom: 30px">
        <table>
            <thead>
                <td colspan="2">Serviço</td>
                <td>Quantidade</td>
                <td>Preço</td>
            </thead>
            <tbody id="service_transactions">
            </tbody>
        </table>
    </div>
</div>
