<form id="edit-product" enctype="multipart/form-data" class="new-product-form" onsubmit="return productEdit(this);">
<input id="product_id" type="hidden" name="product_id">
 <div class="fieldset-container">
   <fieldset>
     <legend>Dados do Produto</legend>
     <div style="display:flex; flex-flow: row nowrap;">
       <div class="form-labels">
         <label for="product_name">Nome:</label>
         <label for="product_img_file">Foto:</label>
         <label for="product_description">Descrição:</label>
         <label for="product_full_description">Descrição Completa:</label>
         <label for="product_tag">Tags:</label>
         <label for="product_price">Preço:</label>
         <label for="product_stkamt">Quantidade em Estoque:</label>
       </div>
       <div class="form-inputs">
         <input id="product_name" type="text" name="product_name" autofocus>
         <input id="product_img" type="file" name="product_img" accept="image/*">
         <input id="product_description" type="text" name="product_description">
         <input id="product_full_description" type="text" name="product_full_description">
         <input id="product_tag" type="text" name="product_tag">
         <input id="product_price" type="number" name="product_price" step="0.01" value="0.00" min="0.00">
         <input id="product_stkamt" type="number" name="product_stkamt" value="0" min="0">
       </div>
     </div>
   </fieldset>
 </div>
 <span style="text-align: center;" id="form_return"></span>
 <div class="button-container">
   <button id="product_submit" type="submit">Enviar</button>
   <button id="product_reset" type="reset">Limpar</button>
 </div>
</form>
