<div class="content">
    <form id="login" class="login" onsubmit="return loginPost(this);">
        <div class="fieldset-container">
            <fieldset>
                <legend>Entrar no Sistema</legend>
                <div style="display:flex; flex-flow: row nowrap;">
                    <div class="form-labels">
                        <label for="username">Nome de Usuário:</label>
                        <label for="password">Senha:</label>
                    </div>
                    <div class="form-inputs">
                        <input id="username" type="text" name="username">
                        <input id="password" type="password" name="password">
                    </div>
                </div>
            </fieldset>
        </div>
        <span style="text-align: center;" id="form_return"></span>
        <div class="button-container">
            <button id="login" type="submit">Entrar</button>
            <button id="new" type="button" onclick="newClient();" href="#">Novo</button>
        </div>
    </form>
</div>
