<form id="new-pet" class="new-pet-form" onsubmit="return petPost(this);">
  <div class="fieldset-container">
    <fieldset>
      <legend>Dados do Animal</legend>
      <div style="display:flex; flex-flow: row nowrap;">
        <div class="form-labels">
          <label for="pet_name">Nome:</label>
          <label for="pet_img">Foto:</label>
          <label for="pet_breed">Raça:</label>
          <label for="pet_age">Idade:</label>
        </div>
        <div class="form-inputs">
          <input id="pet_name" type="text" name="pet_name" autofocus>
          <input id="pet_img" type="file" name="pet_img" accept="image/*">
          <input id="pet_breed" type="text" name="pet_breed">
          <input id="pet_age" type="number" name="pet_age" min="0">
        </div>
      </div>
    </fieldset>
  </div>
  <span style="text-align: center;" id="form_return"></span>
  <div class="button-container">
    <button id="pet_submit" type="submit">Enviar</button>
    <button id="pet_reset" type="reset">Limpar</button>
  </div>
</form>
