<form id="new-service" enctype="multipart/form-data" class="new-service-form" onsubmit="return servicePost(this);">
  <div class="fieldset-container">
    <fieldset>
      <legend>Dados do Serviço</legend>
      <div style="display:flex; flex-flow: row nowrap;">
        <div class="form-labels">
          <label for="service_name">Nome:</label>
          <label for="service_img">Foto:</label>
          <label for="service_description">Descrição:</label>
          <label for="service_tag">Tags:</label>
          <label for="service_price">Preço:</label>
        </div>
        <div class="form-inputs">
          <input id="service_name" type="text" name="service_name" autofocus>
          <input id="service_img" type="file" name="service_img" accept="image/*">
          <input id="service_description" type="text" name="service_description">
          <input id="service_tag" type="text" name="service_tag">
          <input id="service_price" type="number" name="service_price" step="0.01" value="0.00" min="0.00">
        </div>
      </div>
    </fieldset>
  </div>
  <span style="text-align: center;color: red" id="form_return"></span>
  <div class="button-container">
    <button id="service_submit" type="submit">Enviar</button>
    <button id="service_reset" type="reset">Limpar</button>
  </div>
</form>
